{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Docente"%}

{% block active_menu_docencia %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-image"></i>&nbsp;Imagen
{% endblock %}

{% block submenu_admin_docentes %}
    <li class="active"><a href="{{path('docentes')}}">&emsp;&emsp;<i class="fa fa-graduation-cap"></i>&nbsp;Docentes</a></li>
{% endblock %}

{% block submenu_docente_perfil %}
    <li class="active"><a href="{{path('docente_perfil_show',{'id': app.user.id }) }}">&emsp;&emsp;<i class="fa fa-graduation-cap"></i>&nbsp;Docente</a></li>
{% endblock %}

{% block menubar %}
    <li role="presentation"><a href="{{path('docente_perfil_show',{'id':dataD.id})}}">Datos Docente</a></li>
    <li role="presentation"><a href="{{path('docente_academico_show',{'id':dataD.id})}}">Registro Académico</a></li>
    <li role="presentation" class="active btn-mint"><a href="{{path('docente_imagen_show',{'id':dataD.id})}}">Imagen</a></li>
{% endblock %}

{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}


	{% include 'PAGEDemoBundle:Teacher:_imagen.html.twig' %}
	{% block docencia_imagen %}
		{{parent()}}
	{% endblock %}
{% endblock %}