{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Evaluación"%}

{% block menu_admin_academico %}class="active"{% endblock %}

{% block datos %}
    <h1>Evaluación</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ entity.period }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>System</th>
                <td>{{ entity.system }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date_score</th>
                <td>{{ entity.datescore|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Moment</th>
                <td>{{ entity.moment }}</td>
            </tr>
            <tr>
                <th>Evaluator</th>
                <td>{{ entity.evaluator }}</td>
            </tr>
            <tr>
                <th>Assess</th>
                <td>{{ entity.assess }}</td>
            </tr>
            <tr>
                <th>Value_teacher</th>
                <td>{{ entity.valueteacher }}</td>
            </tr>
            <tr>
                <th>Finality</th>
                <td>{{ entity.finality }}</td>
            </tr>
            <tr>
                <th>Instrument</th>
                <td>{{ entity.instrument }}</td>
            </tr>
            <tr>
                <th>Learning</th>
                <td>{{ entity.learning }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{{ entity.createAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('test') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('test_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
