{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Asignaturas"%}

{% block active_menu_academico %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-book"></i>&nbsp;Asignaturas
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/pagedemo/js/asignaturasController.js')}}"></script>
{% endblock %}

{% block submenu_admin_asignaturas %}
    <li class="active"><a href="{{path('asignaturas')}}">&emsp;&emsp;<i class="fa fa-book"></i>&nbsp;Asignaturas</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
    <section ng-app="asignaturas" ng-controller="asignatura">
    	{% include 'PAGEDemoBundle:Class:_asignaturas.html.twig' %}
    	{% block academico_asignaturas %}
    		{{parent()}}
    	{% endblock %}
    </section>
{% endblock %}