{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Cuentas de Usuario"%}

{% block active_menu_institucion %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-credit-card"></i>&nbsp;Cuentas de Usuario
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('bundles/pagedemo/js/cuentasController.js')}}"></script>
{% endblock %}

{% block submenu_admin_institucion_cuentas %}
    <li class="active"><a href="{{path('institucion_cuentas')}}">&emsp;&emsp;<i class="fa fa-credit-card"></i>&nbsp;Cuentas</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
	<section ng-app="cuentas" ng-controller="cuenta">
		{% include 'PAGEDemoBundle:Account:_cuentas.html.twig' %}
		{% block institucion_cuentas %}
			{{parent()}}
		{% endblock %}
	</section>
{% endblock %}