{% block institucion_pie %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for item in folder %}
    
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="hPie{{loop.index}}">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#cPie{{loop.index}}" aria-expanded="true" aria-controls="cPie{{loop.index}}">
            <span class="badge">{{loop.index}}</span>&emsp;{{ item.folder|capitalize }} 
          </a>
        </h4>
      </div>
      <div id="cPie{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hPie{{loop.index}}">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Título</th>
                  <th>Categoria</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for file in item.files %}
                <tr>
                  <td><span class="badge">{{ loop.index }}</span></td>
                  <td>{{ file|capitalize }}</td>
                  <td>{{ item.folder|capitalize }}</td>
                  <td>
                    <a href="{{ path('pie_download',{'folder':item.folder,'file':file}) }}" title="descargar"><i class="fa fa-download text-success"></i></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

