<pdf>
    <dynamic-page>
        <h1>
        	{{ data.name }} {{ data.plastname }} {{ data.mlastname }}
        </h1>
        <h3>Rut: {{data.rut}}</h3>
        <h3>Fecha Nacimiento: {{data.fechaNacimiento|date('d/m/Y')}}</h3>
        <h3>Género: {{data.sexo}}</h3>
        <h3>Pais: {{data.pais}}</h3>
        <h3>Región: {{data.region}}</h3>
        <h3>Comuna: {{data.comuna}}</h3>
        <h3>Teléfono: {{data.telefono}}</h3>
        <h3>Email: {{data.email}}</h3>
        <h3>Etnia: {{data.etnia}}</h3>
        <h3>Salud: {{data.salud}}</h3>
        <h3>Curso: {{curso}}</h3>
        <h3>Año Ingreso: {{data.ingreso}}</h3>
    </dynamic-page>
</pdf>