{% extends "::base.html.twig" %}


{% block body %}
<div class="container" style="padding:80px">
	<div class="page-header">
		<h3 class="text-center">Estadisticas <small>{{'now'|date('d/m/Y')}}</small></h3>
	</div>

	<div class="row">
		<div class="col-md-6">
		<h6 class="page-header">Asignaturas de Docentes</h6>
			<table class="table table-hover">
		        <thead>
		          <tr>
		            <th>#</th>
		            <th>Asignatura</th>
		            <th>Cantidad Docentes</th>
		            <th>%</th>
		          </tr>
		        </thead>
		        <tbody>
		        {% set num = ['1','2','2','1','1','1'] %}
		        {% set por = ['12.5','25','25','12.5','12.5','12.5'] %}
		          	{% for item in ['Inglés','Matematicas','Lenguaje y Comunicacion','Historia','Música','Religion'] %}
		          	<tr>
		            	<td><span class="">{{loop.index}}</span></td>
		            	<td><span class="text-mint"><strong>{{item}}</strong></span></td>
		            	<td>{{num[loop.index-1]}}</td>
		            	<td>{{por[loop.index-1]}}%</td>
		          	</tr>
		          {% endfor %}
		          <tr class="active">
		          		<td></td>
		            	<td><span class="text-mint"><strong>Total</strong></span></td>
		            	<td>8</td>
		            	<td>100%</td>
		          	</tr>
		        </tbody>
		  	</table>
		</div>
		<div class="col-md-6">
			<table class="table table-hover">
			<h6 class="page-header">Año de Ingreso de Docentes</h6>
		        <thead>
		          <tr>
		            <th>#</th>
		            <th>Año</th>
		            <th>Cantidad Ingresos</th>
		            <th>%</th>
		          </tr>
		        </thead>
		        <tbody>
		        {% set num = ['5','2','4','4','3','2'] %}
		        {% set por = ['25','12,5','20','20','15','12,5'] %}
		          	{% for item in 2010..2015 %}
		          	<tr>
		            	<td><span class="">{{loop.index}}</span></td>
		            	<td><span class="text-mint"><strong>{{item}}</strong></span></td>
		            	<td>{{num[loop.index-1]}}</td>
		            	<td>{{num[loop.index-1]}}%</td>
		          	</tr>
		          {% endfor %}
		          <tr class="active">
		          		<td></td>
		            	<td><span class="text-mint"><strong>Total</strong></span></td>
		            	<td>20</td>
		            	<td>100%</td>
		          	</tr>
		        </tbody>
		  	</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
		<h6 class="page-header">Función de Docentes</h6>
			<table class="table table-hover">
		        <thead>
		          <tr>
		            <th>#</th>
		            <th>Función</th>
		            <th>Cantidad</th>
		            <th>%</th>
		          </tr>
		        </thead>
		        <tbody>
		        {% set num = ['1','2','3','2','22'] %}
		        {% set por = ['4','6','8','6','15','74'] %}
		        {% set element = ["Director","Inspector General","Evaluador","Orientador","Docente"] %}
		          	{% for item in element %}
		          	<tr>
		            	<td><span class="">{{loop.index}}</span></td>
		            	<td><span class="text-mint"><strong>{{item}}</strong></span></td>
		            	<td>{{num[loop.index-1]}}</td>
		            	<td>{{num[loop.index-1]}}%</td>
		          	</tr>
		          {% endfor %}
		          <tr class="active">
		          		<td></td>
		            	<td><span class="text-mint"><strong>Total</strong></span></td>
		            	<td>30</td>
		            	<td>100%</td>
		          	</tr>
		        </tbody>
		  	</table>
		</div>
		<div class="col-md-6">
		<h6 class="page-header">Nivel de Docentes</h6>
			<table class="table table-hover">
		        <thead>
		          <tr>
		            <th>#</th>
		            <th>Nivel</th>
		            <th>Cantidad</th>
		            <th>%</th>
		          </tr>
		        </thead>
		        <tbody>
		        {% set num = ['3','2','6','4','2','3'] %}
		        {% set por = ['15','12','30','28','12','15'] %}
		        {% set element = ["Parvulo 1 Nivel","Parvulo","Básico","Básico Adulto","Medio Humanista Científico","Medio Técnico Profesional"] %}
		          	{% for item in element %}
		          	<tr>
		            	<td><span class="">{{loop.index}}</span></td>
		            	<td><span class="text-mint"><strong>{{item}}</strong></span></td>
		            	<td>{{num[loop.index-1]}}</td>
		            	<td>{{num[loop.index-1]}}%</td>
		          	</tr>
		          {% endfor %}
		          <tr class="active">
		          		<td></td>
		            	<td><span class="text-mint"><strong>Total</strong></span></td>
		            	<td>20</td>
		            	<td>100%</td>
		          	</tr>
		        </tbody>
		  	</table>
		</div>
	</div>

	<hr>
	<address class="text-center">
	  <strong>Colegio San Juan Bautista</strong><br>
	  <a href="mailto:#">colegio@example.com</a><br>
	  795 Folsom Ave, Ovalle,Chile. 2015<br>
	</address>
</div>



{% endblock %}

