<pdf>
    <dynamic-page>
        <h1>
        {% if curso is not empty %}
        	Docentes: {{ curso }}
        {% else %}
            Docentes: Todos
        {% endif %}
        </h1>

        {% for item in data %}
            <h3>{{loop.index}}: {{item.rut}} - {{item.name}} {{item.plastname}} {{item.mlastname}} - {{item.fechaNacimiento|date('d/m/Y')}}</h3>
        {% endfor %}

    </dynamic-page>
</pdf>