<pdf>
    <dynamic-page>
        <h1>
        	{{ user.username }}
        </h1>
        <h3>RBD: {{data.rbd}}</h3>
        <h3>Representante: {{data.rep}}</h3>

        <h3>Dirección: {{data.address}}</h3>
        <h3>Teléfono: {{user.fono}}</h3>
        <h3>Email: {{user.email}}</h3>

        <h3>Jornada: {{data.jornada}}</h3>
        <h3>Modalidad: {{data.modalidad}}</h3>
        <h3>Régimen: {{data.regimen}}</h3>
       
        <h3>Fecha Inicio: {{data.fechaInicio|date('d/m/Y')}}</h3>
        <h3>Fecha Fin: {{data.fechaFin|date('d/m/Y')}}</h3>
    </dynamic-page>
</pdf>