{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Planificaci贸n"%}

{% block active_menu_docencia %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-check-square-o"></i>&nbsp;Planificaci贸n
{% endblock %}

{% block submenu_docentes %}
    <li class="active"><a href="{{path('docentes')}}">&emsp;&emsp;<i class="fa fa-graduation-cap"></i>&nbsp;Docentes</a></li>
{% endblock %}

{% block submenu_docente_planificacion %}
    <li class="active"><a href="{{path('planificar',{'id': app.user.id })}}">&emsp;&emsp;<i class="fa fa-check-square-o"></i>&nbsp;Planificaci贸n</a></li>
{% endblock %}

{% block menubar %}
    <li role="presentation"><a href="{{path('planificar',{'id':dataD.id})}}">Planificar</a></li>
    <li role="presentation" class="active btn-mint"><a href="{{path('planificacion',{'id':dataD.id})}}">Planificaci贸n</a></li>
{% endblock %}

{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    <section ng-app="planificador" ng-controller="planificacion">
    	{% include 'PAGEDemoBundle:Planning:_planificacion.html.twig' %}
    	{% block docencia_planificacion %}
    		{{parent()}}
    	{% endblock %}
    </section>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/pagedemo/js/planificadorController.js')}}"></script>
{% endblock %}