{{ form_start(form) }}
	{{ form_errors(form) }}

	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.level, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.origin, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
		{{ form_label(form.documents) }}
			<div class="well well-sm">
			{% for item in form.documents %}
				<div class="checkbox">
				    <label>
				      	{{ form_widget(item, {'attr': {'class': 'checkbox'}}) }}
				      	{{ form_label(item) }}
				    </label>
			  	</div>
		  	{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
		{{ form_label(form.programs) }}
			<div class="well well-sm">
			{% for item in form.programs %}
				<div class="checkbox">
				    <label>
				      	{{ form_widget(item, {'attr': {'class': 'checkbox'}}) }}
				      	{{ form_label(item) }}
				    </label>
			  	</div>
		  	{% endfor %}
			</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_row(form.student, {'attr': {'data': entity.student.rut,'class': 'form-control','readonly':''}}) }}
	</div>
	<div class="modal-footer">
		{{ form_row(form.submit, {'attr': {'class': 'btn btn-mint'}}) }}
	</div>
{{ form_end(form) }}