{{ form_start(form) }}
	{{ form_errors(form) }}

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.day, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.block, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				{{ form_row(form.teacher, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_row(form.level, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_row(form.subject, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>

	<div class="modal-footer">
		{{ form_row(form.submit, {'attr': {'class': 'btn btn-mint'}}) }}
	</div>
{{ form_end(form) }}
