{{ form_start(form) }}
	{{ form_errors(form) }}

	<div class="form-group">
		<label>Institución</label>
		<input class='form-control' value="{{ app.user.username }}" disabled>
	</div>

	<div class="form-group">
		<label>Email</label>
		<input class='form-control' value="{{ app.user.email }}" disabled>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.rbd, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.rut, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_row(form.address, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="row">
		<div class="col-md-6">
			<label>Fono</label>
			<input class='form-control' value="{{ app.user.phone }}" disabled>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_row(form.fax, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_row(form.agent, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_row(form.user, {'attr': {'data': app.user.username,'class': 'form-control','readonly':''}}) }}
	</div>

	<div class="modal-footer">
		{{ form_row(form.submit, {'attr': {'class': 'btn btn-mint'}}) }}
	</div>
{{ form_end(form) }}