{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Institución"%}

{% block menu_admin_cuentas %}class="active"{% endblock %}

{% block datos %}
    <h1>Institución</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rbd</th>
                <th>Rut</th>
                <th>Address</th>
                <th>Fax</th>
                <th>Agent</th>
                <th>Createat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('institution_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.rbd }}</td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.agent }}</td>
                <td>{% if entity.createAt %}{{ entity.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('institution_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('institution_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal-footer">
        <a href="{{ path('institution_new') }}" class="btn btn-mint">Nuevo</a>
    </div>
    {% endblock %}
