{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Profile"%}

{% block active_menu_institucion %}class="in"{% endblock %}

{% block subtitle %}<i class="fa fa-university"></i>&nbsp;Institución{% endblock %}

{% block submenu_admin_institucion_perfil %}
    <li class="active"><a href="{{path('institucion_perfil')}}">&emsp;&emsp;<i class="fa fa-university"></i>&nbsp;Perfil</a></li>
{% endblock %}


{% block menubar %}
    <li role="presentation"><a href="{{path('institucion_perfil')}}">Datos Intitución</a></li>
    <li role="presentation" class="active btn-mint"><a href="{{path('institucion_unidad')}}">Unidad Educativa</a></li>
    <li role="presentation"><a href="{{path('institucion_imagen')}}">Imagen</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}


	{% include 'PAGEDemoBundle:Institution:_unidad.html.twig' %}
	{% block institucion_unidad %}
		{{parent()}}
	{% endblock %}
{% endblock %}


