{% block docencia_planificar %}
{# CURSOS #}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{% for curso in dataP.cursos %}
  	<div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="cursos{{loop.index}}">
      		<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="#cursosColl{{loop.index}}" aria-expanded="true" aria-controls="cursosColl{{loop.index}}">
          		{{curso}}
        		</a>
      		</h4>
    	</div>
	    <div id="cursosColl{{loop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cursos{{loop.index}}">
	      	<div class="panel-body">

	      		{# Asignaturas #}
	      		<div class="panel-group" id="asignatura" role="tablist" aria-multiselectable="true">
	      		{% for asignatura in dataP.asignaturas %}
				  	<div class="panel panel-default">
				    	<div class="panel-heading" role="tab" id="asignatura{{loop.index}}">
					      	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#asignatura" href="#asignaturaColl{{loop.index}}" aria-expanded="true" aria-controls="asignaturaColl{{loop.index}}">
					          	{{asignatura}}
					        	</a>
					      	</h4>
				    	</div>
					    <div id="asignaturaColl{{loop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="asignatura{{loop.index}}">
					      	<div class="panel-body">

					      		{# UNIDADES #}
					      		<div class="panel-group" id="unidad" role="tablist" aria-multiselectable="true">
					      		{% for unidad in dataP.unidades %}
								  	<div class="panel panel-default">
								    	<div class="panel-heading" role="tab" id="unidad{{loop.index}}">
									      	<h4 class="panel-title">
									        	<a data-toggle="collapse" data-parent="#unidad" href="#unidadColl{{loop.index}}" aria-expanded="true" aria-controls="unidadColl{{loop.index}}">
									          	{{unidad}}
									        	</a>
									      	</h4>
								    	</div>
									    <div id="unidadColl{{loop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="unidad{{loop.index}}">
									      	<div class="panel-body">

									      		{# Objetivos #}
									      		<div class="row">
										      	{% for objetivo in dataP.objetivos %}
										      		<div class="col-md-4">
										      			<div class="list-group">
														  	<a class="list-group-item">
														    {{objetivo}}
														  	</a>

														  	{# comparar con base curricular #}
														  	{% set css = ['success','info','success','danger'] %}
															{% for item in dataO %}
																{% if item.curso == curso and item.asignatura == asignatura and 
																item.unidad == unidad and item.objetivo == objetivo %}
																
																  	<a href="" class="list-group-item list-group-item-{{css[loop.index]}}" data-toggle="modal" data-target="#edit" ng-click="edit('{{item.id}}','{{item.progress}}','{{item.motivo}}','{{item.recurso}}')">
																  		<ins>{{item.id}} - {{item.asignatura}}</ins><br>
																  		<small class="list-group-item-text"><em>{{item.detalle[0:50] }}</em></small>
																  		
															  			<h6>Implementación:&nbsp;<span class="badge">{{item.progress}}%</span></h6>

																		<h6>Motivo:&nbsp;<em>{{item.motivo}}</em></h6>

																		<h6>Recursos:&nbsp;<span class="badge">{{item.recurso}}%</span></h6>
																  	</a>
																{% endif %}
															{% endfor %}
															{# Fin comparar #}
														</div>
										      		</div>
									      		{% endfor %}
										      	</div>
					      					</div>
					      				</div>
				      				</div>
			      				{% endfor %}
			      				</div>
					      	</div>
					    </div>
				  	</div>
				{% endfor %}
				</div>
	      	</div>
	    </div>
  	</div>
  	{% endfor %}
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-mint"><i class="fa fa-save"></i>&nbsp;Guardar</button>
</div>


<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-check-square-o"></i>&nbsp;{[{ title }]}</h4>
	      	</div>
	      	<div class="modal-body">
		        <form>
		        	<h5><span class="label label-success">Curso</span>&nbsp;{[{data.curso}]}</h5>
		        	<h5><span class="label label-info">Asignatura</span>&nbsp;{[{data.asignatura}]}</h5>
		        	<h5><span class="label label-danger">Unidad</span>&nbsp;{[{data.unidad}]}</h5>
		        	<h5><span class="label label-primary">Objetivo</span>&nbsp;{[{data.objetivo}]}</h5>
		        	<h5><span class="label label-warning">Detalle</span>&nbsp;{[{data.detalle}]}</h5>
		        	<hr>
				  	<div class="form-group">
					    <label>Implementacion:</label>
					    <input type="range" min="0" max="100" ng-model="progress" value="{[{progress}]}">
					    <span class="badge">{[{ progress }]} %</span>
				    </div>

				    <div class="form-group">
				    	<label>Motivos Falta Implementación:</label>
					    <select class="form-control" ng-model="motivo" ng-options="motivo.name for motivo in motivos" required autofocus>
							<option value="">-- Motivo --</option>
						</select>
				    </div>
				    <hr>
					<div class="form-group">
					    <label>Recursos:</label>
					    <input type="range" min="0" max="100" ng-model="recurso" value="{[{recurso}]}">
					    <span class="badge">{[{ recurso }]} %</span>
				  	</div>
				  	<div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;Cerrar</button>
				        <button type="button" class="btn btn-mint" ng-click="delete('{{app.user.parent}}','{{dataD.id}}')"><i class="fa fa-remove"></i>&nbsp;Eliminar</button>
				        <button type="button" class="btn btn-mint" ng-click="save('{{app.user.parent}}','{{dataD.id}}')"><i class="fa fa-save"></i>&nbsp;Guardar</button>
			      	</div>
		        </form>
	      	</div>
	      
	    </div>
  	</div>
</div>

{% endblock %}