{% block alumnos_academico %}

{% if dataA %}
	<form action="{{ path('academico_edit',{'id':dataA.id}) }}" method="POST">
{% else %}
	<form>
{% endif %}
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label class="text-muted">Curso</label>
	          	<select class="form-control" name="curso" required autofocus>
		            <option value="">-- Curso --</option>
		            {% for item in dataC %}
		            {% set curso = item.name ~ ' - ' ~ item.indice %}
		              {% if dataA and item.id == dataA.curso %}
		                <option value="{{item.id}}" selected>{{item.name}} - {{item.indice}}</option>
		              {% else %}
		                <option value="{{item.id}}">{{item.name}} - {{item.indice}}</option>
		              {% endif %}
		            {% endfor %}
	          	</select>
		  	</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="text-muted">Procedencia</label>
		    	<input type="text" class="form-control" name="procedencia" value="{% if dataA %}{{dataA.procedencia}}{% endif %}">
		  	</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label class="text-muted">Año Ingreso</label>
		    	<input type="number" class="form-control" name="ingreso" value="{% if dataA %}{{dataA.ingreso}}{% else %}2000{% endif %}" required autofocus>
		  	</div>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-md-6">
			<h5 class="text-muted">Documentos</h5>
			<div class="well well-sm">
			{% set documentos = listaD|split(',') %}
			{% for item in documentos %}
				<div class="checkbox">
				{% if dataA and loop.index in dataA.documentacion %}
				  	<label>
				    	<input type="checkbox" name="documento[]" value="{{loop.index}}" checked>{{item}}
				  	</label>
			  	{% else %}
			  		<label>
				    	<input type="checkbox" name="documento[]" value="{{loop.index}}">{{item}}
				  	</label>
			  	{% endif %}
				</div>
			{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
			<h5 class="text-muted">Programas</h5>
			<div class="well well-sm">
				{% set programas = listaP|split(',') %}
				{% for item in programas %}
					<div class="checkbox">
					{% if dataA and loop.index in dataA.programas %}
					  	<label>
					    	<input type="checkbox" name="programa[]" value="{{loop.index}}" checked>{{item}}
					  	</label>
				  	{% else %}
				  		<label>
					    	<input type="checkbox" name="programa[]" value="{{loop.index}}">{{item}}
					  	</label>
				  	{% endif %}
					</div>
				{% endfor %}
				<br>
			</div>
		</div>
	</div>
	

	<div class="modal-footer">
		<button class="btn btn-mint" type="submit" {% if not dataA %}disabled{% endif %}><i class="fa fa-save"></i>&nbsp;Guardar</button>
	</div>
</form>
{% endblock %}

