{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Docente"%}

{% block menu_admin_docentes %}class="active"{% endblock %}

{% block datos %}
    <h1>InTeacher list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Group</th>
                <th>Function</th>
                <th>Level</th>
                <th>Subject</th>
                <th>Certificate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('inteacher_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.group }}</td>
                <td>{{ entity.function }}</td>
                <td>{{ entity.level }}</td>
                <td>{{ entity.subject }}</td>
                <td>{{ entity.certificate }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('inteacher_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('inteacher_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('inteacher_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
