{% block alumnos_alumno %}

{% if dataA %}
<form id="formNew" action="{{ path('alumno_perfil_edit',{'id':dataA.id}) }}" method="POST">
{% else %}
<form id="formNew" action="{{ path('alumno_create') }}" method="POST">
{% endif %}

	<div class="row">
		<div class="col-md-3">
			<h4 class="text-center">
				{% if not image %}
	        		<img src="{{asset('bundles/pagedemo/images/profile.png')}}" class="img-thumbnail" class="img-thumbnail"  width="148px" height="148px">
	        	{% else %}
	        		<img src="{{asset('users/' ~ app.user.parent ~ '/images/' ~ dataA.id )}}" class="img-thumbnail"  style="max-width:180px;max-height:180px">
        		{% endif %}
    		</h4>
		</div>
		<div class="col-md-9">
			<div class="form-group">
				<label class="text-muted">RUT</label>
				<input type="text" class="form-control" id="rut" name="rut" value="{% if dataA %}{{dataA.rut}}{% endif %}" required autofocus>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-muted">Nombre</label>
				    	<input type="text" class="form-control" name="name" value="{% if dataA %}{{dataA.name}}{% endif %}" required autofocus>
				  	</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-muted">Apellido Paterno</label>
				    	<input type="text" class="form-control" name="plastname" value="{% if dataA %}{{dataA.plastname}}{% endif %}" required autofocus>
				  	</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-muted">Apellido Materno</label>
				    	<input type="text" class="form-control" name="mlastname" value="{% if dataA %}{{dataA.mlastname}}{% endif %}" required autofocus>
				  	</div>
				</div>
			</div>
			<hr>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="text-muted">Fecha Nacimiento</label>
				{% if dataA %}
					{% set fecha = dataA.fechanacimiento|date('d') ~'/'~dataA.fechanacimiento|date('m') ~'/'~dataA.fechanacimiento|date('Y')%}
			    	<input type="text" class="form-control" id="date-nacimiento" name="fnacimiento" value="{{fecha}}">
	    	 	{% else %}
	    	 		<input type="text" class="form-control" id="date-nacimiento" name="fnacimiento">
	    	 	{% endif %}
		  	</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="text-muted">Género</label>
		    	{% set items = listaS|split(',') %}
	          	<select class="form-control" name="sexo">
		            <option value="">-- Género --</option>
		            {% for item in items %}
		              {% if dataA and item == dataA.sexo %}
		                <option value="{{item}}" selected>{{item}}</option>
		              {% else %}
		                <option value="{{item}}">{{item}}</option>
		              {% endif %}
		            {% endfor %}
          		</select>
		  	</div>
		</div>
	</div>

	<div class="form-group">
		<label class="text-muted">Dirección</label>
    	<input type="text" class="form-control" name="address" value="{% if dataA %}{{dataA.address}}{% endif %}">
  	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label class="text-muted">Región</label>
		    	{% set items = listaR|split(',') %}
	          	<select class="form-control" id="region" name="region">
		            <option value="">-- Región --</option>
		            {% for item in items %}
		              {% if dataA and item == dataA.region %}
		                <option value="{{item}}" selected>{{item}}</option>
		              {% else %}
		                <option value="{{item}}">{{item}}</option>
		              {% endif %}
		            {% endfor %}
	          	</select>
		  	</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="text-muted">Comuna</label>
				<input type="hidden" id="comuna_load" value="{% if dataA %}{{dataA.comuna}}{% endif %}">
	          	<select class="form-control" id="comuna" name="comuna">
		            <option value="">-- Comuna --</option>
	          	</select>
		  	</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="text-muted">Pais</label>
		    	{% set items = listaP|split(',') %}
	          	<select class="form-control" name="pais">
		            <option value="">-- Pais --</option>
		            {% for item in items %}
		              {% if dataA and item == dataA.pais %}
		                <option value="{{item}}" selected>{{item}}</option>
		              {% else %}
		                <option value="{{item}}">{{item}}</option>
		              {% endif %}
		            {% endfor %}
	          	</select>
		  	</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="text-muted">Teléfono/Celular</label>
		    	<input type="text" class="form-control" name="telefono" value="{% if dataA %}{{dataA.telefono}}{% endif %}">
		  	</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="text-muted">Email</label>
		    	<input type="email" class="form-control" name="email" value="{% if dataA %}{{dataA.email}}{% endif %}">
		  	</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="text-muted">Étnia</label>
		    	{% set items = listaE|split(',') %}
	          	<select class="form-control" name="etnia">
		            <option value="">-- Seleccionar Étnia --</option>
		            {% for item in items %}
		              {% if dataA and item == dataA.etnia %}
		                <option value="{{item}}" selected>{{item}}</option>
		              {% else %}
		                <option value="{{item}}">{{item}}</option>
		              {% endif %}
		            {% endfor %}
	          	</select>
		  	</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="text-muted">salud</label>
		    	<input type="text" class="form-control" name="salud" value="{% if dataA %}{{dataA.salud}}{% endif %}">
		  	</div>
		</div>
	</div>

	<hr>

	<div class="form-group">
		<label class="text-muted">Interéses - Habilidades</label>
		<textarea class="form-control" name="interes">{% if dataA %}{{dataA.interes}}{% endif %}</textarea>
	</div>

	<div class="form-group">
		<label class="text-muted">Antencedentes médicos</label>
		<textarea class="form-control" name="antecedentes">{% if dataA %}{{dataA.antecedentes}}{% endif %}</textarea>
	</div>

	<div class="modal-footer">
		<button class="btn btn-mint" type="submit"><i class="fa fa-save"></i>&nbsp;Guardar</button>
	</div>
</form>

{% endblock %}