{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Alumnos"%}

{% block menu_admin_alumnos %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Alumnos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Comuna</th>
                <th>Fono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('student_show', { 'id': entity.id }) }}" class="badge">{{ loop.index }}</a></td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.name }} {{ entity.lastname }} {{ entity.mlastname }}</td>
                <td>{{ entity.instudent.level.name }}</td>
                <td>{{ entity.area }}/{{ entity.commune }}</td>
                <td>{{ entity.phone }}</td>
                <td>
                <ul>
                    <a href="{{ path('student_show', { 'id': entity.id }) }}" class="glyphicon glyphicon-eye-open"></a>&nbsp;
                    <a href="{{ path('student_edit', { 'id': entity.id }) }}" class="glyphicon glyphicon-edit"></a>&nbsp;
                    <a href="{{ path('student_edit', { 'id': entity.id }) }}" class="glyphicon glyphicon-trash text-danger"></a>&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal-footer">
        <a href="{{ path('student_new') }}" class="btn btn-mint">Nuevo</a>
    </div>

{% endblock %}
