{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Alumno"%}

{% block active_menu_alumnos %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-user-plus"></i>&nbsp;Datos Alumno
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/pagedemo/js/comunas.js')}}"></script>
    <script src="{{ asset('bundles/pagedemo/js/validar.js')}}"></script>
{% endblock %}

{% block submenu_admin_alumnos %}
    <li class="active"><a href="{{path('alumnos')}}">&emsp;&emsp;<i class="fa fa-users"></i>&nbsp;Alumnos</a></li>
{% endblock %}

{% block submenu_alumno_perfil %}
    <li class="active"><a href="{{path('alumno_perfil_show',{'id': app.user.id})}}">&emsp;&emsp;<i class="fa fa-user"></i>&nbsp;Alumno</a></li>
{% endblock %}

{% block menubar %}
    <li role="presentation" class="active btn-mint"><a href="{{path('alumno_perfil_show',{'id':dataA.id})}}">Datos Alumno</a></li>
    <li role="presentation"><a href="{{path('alumno_academico_show',{'id':dataA.id})}}">Registro Académico</a></li>
    <li role="presentation"><a href="{{path('alumno_apoderados_show',{'id':dataA.id})}}">Apoderados</a></li>
    <li role="presentation"><a href="{{path('alumno_necesidades_show',{'id':dataA.id})}}">Necesidades</a></li>
    <li role="presentation"><a href="{{path('alumno_imagen_show',{'id':dataA.id})}}">Imagen</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
	{% include 'PAGEDemoBundle:Student:_alumno.html.twig' %}
	{% block alumnos_alumno %}
		{{parent()}}
	{% endblock %}
{% endblock %}