{% extends 'PAGEDemoBundle:Layout:layout_page.html.twig' %}

{% block title 'Inicio Sesión'%}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/pagedemo/plugin/signin/signin.css')}}">
{% endblock %}

{% block content %}

  <div class="form-signin">
    <div class="page-header">
      <h1 class="text-center text-mint" style="font-size:50px;font-family:'open-sans-light'">Iniciar Sesión</h1>
    </div>
    
    <hr style="border-top-color:#ddd">

    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-times-circle"></i>&nbsp;<strong>Error!</strong>&nbsp;Usuario y Contraseña no coinciden.
    </div>
  {% endif %}


    <form action="{{ path("_demo_security_check") }}" method="post" role="form">
      <div class="form-group">
        <input type="email" class="form-control" id="username" name="_username" placeholder="Email" value="{{last_username}}">
      </div>
      <div class="form-group">  
        <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
      </div>
      <button class="btn btn-block btn-mint" type="submit"><i class="fa fa-sign-in"></i>&nbsp;Iniciar Sesión</button>
    </form>

    <h5 class="text-center"><small><a href="{{ path('_secured_resend') }}">olvidaste tu contraseña?</a></small></h5>

    <hr style="border-top-color:#ddd">
    <h5 class="text-center text-muted"><small><a href="{{path('_demo_index')}}"><i class="fa fa-long-arrow-left"></i>&nbsp;Volver</a></small></h5>

    <h5 class="text-center text-muted"><small>No tienes cuenta?</small></h5>
    <a class="btn btn-block btn-default" href="{{path('_demo_signup')}}"><small class="text-muted"><i class="fa fa-plus"></i>&nbsp;Crear Cuenta</small></a>

    <h5 class="text-center text-muted"><small>
    <abbr title="Aprendamos a Leer Matemáticas" class="initialism">ALM</abbr>&nbsp;-&nbsp;
    Todos los derechos reservados. La Serena,Chile. {{ "now"|date("Y") }}
    </small></h5>

  </div>
{% endblock %}