{% extends 'PAGEDemoBundle:Layout:layout_page.html.twig' %}

{% block title 'Regístro'%}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/pagedemo/plugin/signin/signin.css')}}">
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('bundles/pagedemo/js/validar.js')}}"></script>
{% endblock %}


{% block content %}

  <div class="form-signin">
    <div class="page-header">
      <h1 class="text-center text-mint" style="font-size:50px;font-family:'open-sans-light'">Regístrate</h1>
    </div>

    <hr style="border-top-color:#ddd">

    <form id="signupForm" action="{{path('_demo_new_acount')}}" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Institución" required autofocus>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="fono" placeholder="Fono" required autofocus>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="confirmEmail" placeholder="Confirmar Email" required autofocus>
      </div>
      <div class="form-group">  
        <input type="password" class="form-control" name="password" placeholder="Password" required autofocus>
      </div>
      <div class="form-group">  
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmar Password" required autofocus>
      </div>
      <button class="btn btn-block btn-mint" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear Cuenta</button>
    </form>

    <h5 class="text-center text-muted"><small>Ya tienes cuenta?</small></h5>
    <h5 class="text-center text-muted"><small><a href="{{path('_demo_signin')}}"><i class="fa fa-long-arrow-left"></i>&nbsp;Volver</a></small></h5>

    <h5 class="text-center text-muted"><small>
      <abbr title="Aprendamos a Leer Matemáticas" class="initialism">ALM</abbr>&nbsp;-&nbsp;
      Todos los derechos reservados. La Serena,Chile. {{ "now"|date("Y") }}
    </small></h5>
  </div>
{% endblock %}