{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Alumnos"%}

{% block active_menu_alumnos %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-calendar"></i>&nbsp;Horario de Clases&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
   <span class="text-mint">{{alumno}}</span>&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
   <small class="text-muted">{{curso}}</small>
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block submenu_alumnos %}
    <li class="active"><a href="{{path('alumnos')}}">&emsp;&emsp;<i class="fa fa-users"></i>&nbsp;Alumnos</a></li>
{% endblock %}

{% block submenu_alumno_calendario_alumno %}
  <li class="active"><a href="{{path('calendario_alumno',{'id': app.user.id })}}">&emsp;&emsp;<i class="fa fa-calendar-o"></i>&nbsp;Horario</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
	<section>
		{% include 'PAGEDemoBundle:Calendar:_alumnos.html.twig' %}
		{% block calendario_alumnos %}
			{{parent()}}
		{% endblock %}
	</section>
{% endblock %}