{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Docentes"%}

{% block active_menu_docencia %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-calendar"></i>&nbsp;Horario de Clases&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
   <span class="text-mint">{{docente}}</span>&nbsp;<i class="fa fa-angle-right"></i>&nbsp;<small class="badge" style="background-color:#1AB394">{{dataCD|length}}&nbsp;Hrs</small>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/pagedemo/js/calendarioDController.js')}}"></script>
{% endblock %}

{% block submenu_docentes %}
    <li class="active"><a href="{{path('docentes')}}">&emsp;&emsp;<i class="fa fa-graduation-cap"></i>&nbsp;Docentes</a></li>
{% endblock %}

{% block submenu_docente_calendario_docente %}
  <li class="active"><a href="{{path('calendario_docente',{'id': app.user.id })}}">&emsp;&emsp;<i class="fa fa-calendar"></i>&nbsp;Horario</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}
    
	<section ng-app="calendarios_docente" ng-controller="calendario_docente">
		{% include 'PAGEDemoBundle:Calendar:_docentes.html.twig' %}
		{% block calendario_docentes %}
			{{parent()}}
		{% endblock %}
		</section>
{% endblock %}