{% block estadisticas_evaluaciones %}
<h2 class="page-header">Asignaturas</h2>
<div class="row">
	<div class="col-md-6" ng-controller="bar_evaluacion">
		<canvas id="bar" class="chart chart-bar" data="data" labels="labels" series="series" height="80px"></canvas>
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in asignaturas %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Sistema</h2>
<div class="row" ng-controller="donuts_evaluacion">
	<div class="col-md-3">
		<canvas id="doughnut" class="chart chart-doughnut" data="adata" labels="alabels"></canvas>  
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in sistemas %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Momento</h2>
<div class="row" ng-controller="donuts_evaluacion">
	<div class="col-md-3">
		<canvas id="pie" class="chart chart-pie" data="bdata" labels="blabels"></canvas> 
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in momentos %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Tipo de Evaluación</h2>
<div class="row" ng-controller="donuts_evaluacion">
	<div class="col-md-3">
		<canvas id="doughnut" class="chart chart-doughnut" data="cdata" labels="clabels"></canvas> 
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in evaluadores %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Evaluar</h2>
<div class="row" ng-controller="donuts_evaluacion">
	<div class="col-md-3">
		<canvas id="doughnut" class="chart chart-doughnut" data="ddata" labels="dlabels"></canvas> 
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in evaluar %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Evaluación</h2>
<div class="row" ng-controller="pie_evaluacion">
	<div class="col-md-3">
		<canvas id="doughnut" class="chart chart-doughnut" data="adata" labels="alabels"></canvas> 
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in evaluaciones %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Finalidad</h2>
<div class="row" ng-controller="pie_evaluacion">
	<div class="col-md-3">
		<canvas id="pie" class="chart chart-pie" data="bdata" labels="blabels"></canvas> 
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in finalidades %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Intrumentos y procedimientos</h2>
<div class="row" ng-controller="pie_evaluacion">
	<div class="col-md-3">
		<canvas id="pie" class="chart chart-pie" data="cdata" labels="clabels"></canvas> 
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in instrumentos %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="page-header">Tipo de Aprendizaje</h2>
<div class="row" ng-controller="pie_evaluacion">
	<div class="col-md-3">
		<canvas id="pie" class="chart chart-pie" data="ddata" labels="dlabels"></canvas> 
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="active">Nombre</th>
					<th class="active">Cantidad</th>
					<th class="active">%</th>
				</tr>
			</thead>
			<tbody>
				{% for item in aprendizajes %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.num}}</td>
					<td> {{ (100 * item.num) / test.num }}%</td>
				</tr>
				{% endfor %}
				<tr class="active">
					<td>Total</td>
					<td>{{test.num}}</td>
					<td> 100%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<br>
	{#
	<div class="modal-footer">
		<a href="{{path('_print_docentes')}}" type="button" class="btn btn-mint"><i class="fa fa-download fa-lg"></i>&nbsp;Descargar</a>
	</div>
	#}
{% endblock %}