{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Estadísticas"%}

{% block active_menu_estadisticas %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-pie-chart"></i>&nbsp;Estadísticas&nbsp;<i class="fa fa-angle-right"></i>&nbsp;Evaluaciones
{% endblock %}


{% block stylesheets %}
    {{parent()}}
  	<link rel="stylesheet" href="{{ asset('bundles/pagedemo/plugin/angular-chart/css/angular-chart.css')}}">
{% endblock %}


{% block javascripts %}
    {{parent()}}
  	<script src="{{ asset('bundles/pagedemo/plugin/angular-chart/js/chart.min.js')}}"></script>
  	<script src="{{ asset('bundles/pagedemo/plugin/angular-chart/js/angular-chart.js')}}"></script>
  	<script src="{{ asset('bundles/pagedemo/js/estadisticasController.js')}}"></script>
{% endblock %}


{% block submenu_admin_estadisticas_evaluaciones %}
    <li class="active"><a href="{{path('estadisticas_evaluaciones')}}">&emsp;&emsp;<i class="fa fa-pie-chart"></i>&nbsp;Evaluaciones</a></li>
{% endblock %}

{% block submenu_docencia_estadisticas_evaluaciones %}
    <li class="active"><a href="{{path('estadisticas_evaluaciones')}}">&emsp;&emsp;<i class="fa fa-pie-chart"></i>&nbsp;Evaluaciones</a></li>
{% endblock %}

{% block datos %}    
	<section ng-app="estadisticas">
		{% include 'PAGEDemoBundle:Stadistic:_evaluaciones.html.twig' %}
		{% block estadisticas_evaluaciones %}
			{{parent()}}
		{% endblock %}
		</section>
{% endblock %}