{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Cursos"%}

{% block active_menu_academico %}class="in"{% endblock %}

{% block subtitle %}
	  &nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;Cursos
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/pagedemo/js/cursosController.js')}}"></script>
{% endblock %}


{% block submenu_admin_cursos %}
    <li class="active"><a href="{{path('cursos')}}">&emsp;&emsp;<i class="fa fa-graduation-cap"></i>&nbsp;Cursos</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
    <section ng-app="cursos" ng-controller="curso">
    	{% include 'PAGEDemoBundle:Level:_cursos.html.twig' %}
    	{% block academico_cursos %}
    		{{parent()}}
    	{% endblock %}
    </section>
{% endblock %}