{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Curso"%}

{% block menu_admin_academico %}class="active"{% endblock %}

{% block datos %}
    <h1>Curso</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{{ entity.createAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('level') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('level_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
