{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Contraseña"%}

{% block subtitle %}<i class="fa fa-lock"></i>&nbsp;Contraseña{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('bundles/pagedemo/js/validar.js')}}"></script>
{% endblock %}

{% block menubar %}
    <li role="presentation"><a href="{{path('_profile_secured_account')}}">Cuenta</a></li>
    <li role="presentation" class="active btn-mint"><a href="{{path('_profile_secured_password')}}">Contraseña</a></li>
{% endblock %}


{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}


	{% include 'PAGEDemoBundle:Secured:_password.html.twig' %}
	{% block secured_password %}
		{{parent()}}
	{% endblock %}
{% endblock %}


