{% block navbar_default %}

<div style="border-bottom:1px solid #eee; background-color:#f8f8f8">
  	<ul class="nav nav-pills">
  		<li class="hidden-lg hidden-md">
	      	<a data-toggle="offcanvas" data-target=".navmenu">
		        <i class="fa fa-bars fa-lg text-muted"></i>
	      	</a>
      	</li>
      	
      	<li class="dropdown pull-right" style="background-color:#eee">
	    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	        	<span class="text-muted"> {{ app.user.username }} </span>&nbsp;
	        	{% if app.user.url is empty or app.user.url is null %}
	        	<img src="{{asset('bundles/pagedemo/images/profile.png')}}" class="img-rounded" width="25px">
	        	{% else %}
	        	<img src="{{asset('users/' ~ app.user.parent ~ '/images/' ~ app.user.url )}}" class="img-rounded"  width="24px" height="24px">
	        	{% endif %}
	        	<span class="caret text-muted"></span>
	        </a>
	        <ul class="dropdown-menu" role="menu">
	            <li><a href="{{path('_profile_secured_account')}}"><i class="fa fa-user text-muted"></i>&nbsp;<span class="text-muted">Perfil</span></a></li>
	            <li><a href="{{path('_profile_secured_password')}}"><i class="fa fa-lock text-muted"></i>&nbsp;<span class="text-muted">Password</span></a></li>
	            <li class="divider"></li>
	            {#<li><a href="#"><i class="fa fa-question-circle text-muted"></i>&nbsp;<span class="text-muted">Ayuda</span></a></li>
	            <li class="divider"></li>#}
	        	<li><a href="{{path('_demo_logout')}}"><i class="fa fa-sign-out text-muted"></i>&nbsp;<span class="text-muted">Cerrar Sesión</span></a></li>
	      	</ul>
      	</li>

      	
      	{#<li class="pull-right"><a href="#"><i class="fa fa-bell fa-lg text-muted"></i></a></li>
      	<li class="pull-right hidden-xs">
	      	<form style="padding-top:2px">
	        	<input type="text" class="form-control" placeholder="Search...">
	      	</form>
      	</li>#}
  	</ul>
</div>
{% endblock %}
